<h1>Listing articles</h1>
<div id='articles'>

<% @articles.each do |article| %>
<div>
    <p><%= article.name %></p>
    <p><%= article.content.html_safe %></p>
    <%= link_to 'Show', article_path(article.title_slug)  %>
    <% if current_user && current_user.name == "Bryan Owens" %>
        <span><%= link_to 'Edit', edit_article_path(article) %></span>
        <%= link_to 'Destroy', article, confirm: 'Are you sure?', method: :delete ,  :remote=>true, :class=>'delete_post'%>
    <% end %>
</div>
<% end %>
</table>
</div>
<br/>

<%= link_to 'New Article', new_article_path %>
