<p id="notice"><%= notice %></p>

You are reading this with: <%= request.env['HTTP_USER_AGENT'] %>

<meta property="og:title" content="The Intellectual Barbarian"/>
<meta property="og:type" content="blog"/>
<meta property="og:image" content="http://profile.ak.fbcdn.net/hprofile-ak-ash4/195792_110075655703379_1462962745_q.jpg"/>
<meta property="og:url" content="http://www.intellectualbarbarian.com"/>
<meta property="og:site_name" content="The Intellectual Barbarian"/>
<meta property="fb:admins" content="257664194288991"/>

<%= @article.class %>

<p>
  <b>Title:</b>
  <%= @article.name %>
</p>
<p>
  <b>By:</b>
  <%= @article.author %>
</p>
<p>
  <b>Content:</b>
  <%= @article.content.html_safe %>
</p>
<p>
  <b>Published:</b>
  <%= @article.published_on %>
</p>
<p>
  <b>Tags:</b>
  <% @article.tags.each do |tag|%>
      <%= tag%>
  <% end %>
</p>

<% if @article.comments.size > 0 %>
    <h2>Comments</h2>
    <% for comment in @article.comments %>
        <h3><%= comment.name %></h3>
        <p><%= comment.content %></p>
    <% end %>
<% end %>

<h2>New Comment</h2>

<%= form_for [@article, Comment.new] do |f| %>
    <p><%= f.label :name %> <%= f.text_field :name %></p>
    <p><%= f.text_area :content, :rows => 10 %></p>
    <p><%= f.submit %></p>
<% end %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>

<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2F<%article_path(article.title_slug)%>%2F&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>
<iframe src="http://www.facebook.com/plugins/comments.php?href=<%article_path(article.title_slug)%>&permalink=1" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:130px; height:16px;" allowTransparency="true"></iframe>

<html>

